@import '@styles/variables';

.spinner {
  padding: 32px;
  text-align: center;

  & img {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
