@import '@styles/variables';

.cashback {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  &__item {
    flex: 1 1 calc(33.333% - 88px);
    background: $color-Cashback-item-background;
    box-shadow: 0px 2px 4px 0px $color-Cashback-item-box-shadow;
    border-radius: 28px;
    padding: 30px;

    p {
      font-size: 16px;
      font-weight: 500;
      color: $color-Cashback-item-paragraph;
      margin-bottom: 20px;
    }

    strong {
      font-size: 36px;
      font-weight: 700;
      color: $color-Cashback-item-paragraph-strong;
    }

    &:nth-child(even) {
      background: $color-Cashback-item-background-even;
    }
  }
}

@media (max-width: 920px) {
  .cashback {
    &__item {
      flex-basis: calc(50% - 88px);
    }
  }
}

@media (max-width: 500px) {
  .cashback {
    &__item {
      flex-basis: 100%;
    }
  }
}
