@import '@styles/variables';

.faq {
  &__title {
    font-size: 30px;
    font-weight: 700;
    margin: 32px 0;
    color: $color-FAQ-title;
  }

  &__block-questions &__details:last-child {
    border-bottom: 1px solid $color-FAQ-details-border;
  }

  &__details {
    border: 1px solid $color-FAQ-details-border;
    border-bottom: 0;
  }

  &__summary::-webkit-details-marker {
    display: none;
  }
  &__summary::-moz-list-bullet {
    list-style-type: none;
  }
  &__summary::marker {
    display: none;
  }
  &__summary {
    font-size: 16px;
    font-weight: 500;
    color: $color-FAQ-summary;
    display: block;
    padding: 32px;
    padding-right: 56px;
    cursor: pointer;
    position: relative;
  }

  &__summary:before {
    position: absolute;
    top: 0;
    right: 32px;
    content: '';
    color: transparent;
    background-image: url('../../assets/icons/Expand_down.svg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    width: 24px;
    height: 100%;
    transition: transform 0.5s;
  }

  &__details[open] > &__summary:before {
    transform: scale(1, -1);
  }

  &__answer {
    font-size: 16px;
    font-weight: 400;
    color: $color-FAQ-answer;
    padding: 25px 32px;
    margin: 0;
    animation: sweep 0.5s ease-in-out;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
