@import '@styles/variables';

.loan-scoring {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;

  &__step-message {
    text-align: center;

    & h1 {
      font-size: 30px;
      font-weight: 700;
      color: $color-LoanScoring-step-message-h1;
    }

    & p {
      font-size: 16px;
      font-weight: 500;
      color: $color-LoanScoring-step-message-p;
    }
  }
}
