@import '@styles/variables';

.credit-card-offer {
  display: flex;
  background: linear-gradient(
    180.8deg,
    $color-CreditCardOffer-background-gradient-start 34.33%,
    $color-CreditCardOffer-background-gradient-end 64.27%
  );
  box-shadow: 0px 2px 4px 0px $color-CreditCardOffer-box-shadow;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 45px;

  &___info {
    flex: 1;
    padding: 20px;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    color: $color-CreditCardOffer-title;
  }

  &__description {
    font-size: 16px;
    font-weight: 500;
    color: $color-CreditCardOffer-description;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__detail {
    margin-right: 10px;
    color: $color-CreditCardOffer-detail;
    position: relative;

    strong {
      font-size: 20px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      margin-top: 8px;
    }

    &-tooltip {
      font-size: 12px;
      font-weight: 500;
      position: absolute;
      transform: translateX(-10%) translateY(0);
      background: $color-CreditCardOffer-detail-tooltip-background;
      color: $color-CreditCardOffer-detail-tooltip;
      padding: 0.5rem;
      border-radius: 0.25rem;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      white-space: nowrap;
    }
    &:hover &-tooltip {
      opacity: 1;
      visibility: visible;
      transform: translateY(-10px);
    }
  }

  &__apply-button {
    background: $color-CreditCardOffer-apply-button-background;
    color: $color-CreditCardOffer-apply-button;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background 0.3s ease;

    &:hover {
      background: $color-CreditCardOffer-apply-button-background-hover;
    }
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image-img {
    width: 100%;
    max-width: 420px;
    border-radius: 25px;
    transition: transform 0.3s ease;

    &:hover {
      transform: rotate(5deg);
    }
  }

  &__image-display1 {
    display: none;
  }
}

@media (max-width: 920px) {
  .credit-card-offer {
    &__image-display1 {
      display: flex;
    }

    &__image-display2 {
      display: none;
    }

    &__image-img {
      max-width: 320px;
    }
  }
}

@media (max-width: 500px) {
  .credit-card-offer {
    &__details {
      flex-direction: column;
    }

    &__detail {
      margin: 0 0 20px 0;
    }

    &__detail:last-child {
      margin: 0;
    }
  }
}
