@import '@styles/variables';

.credit-card-offer {
  display: flex;
  background: linear-gradient(
    180.8deg,
    rgba(203, 213, 224, 0.624) 34.33%,
    rgba(254, 235, 200, 0.56) 64.27%
  );
  box-shadow: 0px 2px 4px 0px #00000033;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 45px;

  &___info {
    flex: 1;
    padding: 20px;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
  }

  &__description {
    font-size: 16px;
    font-weight: 500;
    color: #2d3748;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__detail {
    margin-right: 10px;
    color: #3d3d3d;
    position: relative;

    strong {
      font-size: 20px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      margin-top: 8px;
    }

    &-tooltip {
      font-size: 12px;
      font-weight: 500;
      position: absolute;
      transform: translateX(-10%) translateY(0);
      background: #3d3d3d;
      color: #fff;
      padding: 0.5rem;
      border-radius: 0.25rem;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      white-space: nowrap;
    }
    &:hover &-tooltip {
      opacity: 1;
      visibility: visible;
      transform: translateY(-10px);
    }
  }

  &__apply-button {
    background: #003cff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background 0.3s ease;

    &:hover {
      background: #7796c0;
    }
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image-img {
    width: 100%;
    max-width: 420px;
    border-radius: 25px;
    transition: transform 0.3s ease;

    &:hover {
      transform: rotate(5deg);
    }
  }

  &__image-display1 {
    display: none;
  }
}

@media (max-width: 920px) {
  .credit-card-offer {
    &__image-display1 {
      display: flex;
    }

    &__image-display2 {
      display: none;
    }

    &__image-img {
      max-width: 320px;
    }
  }
}

@media (max-width: 500px) {
  .credit-card-offer {
    &__details {
      flex-direction: column;
    }

    &__detail {
      margin: 0 0 20px 0;
    }

    &__detail:last-child {
      margin: 0;
    }
  }
}
