@import './fonts';

$color-secondary: #1c1c1e;
$color-primary-button: #003cff;
$color-secondary-hover: #0056b3;
$text-color-light: #fff;

$color-background-gradient-start: #f4f4f42c;
$color-background-gradient-end: #b2b2b270;
$color-secondary-gradient-end: #b2b2b200;
$color-shadow-main: #bbbbbb33;
$color-shadow-secondary: #00000014;
$color-title: #1c1c1e;
$color-title-hover: #000000;
$color-text: #4f5665;
$color-background: #ffffff;
$color-border: #e0e0e0;

$color-features-title: #0b132a;

$color-background-footer: #b2b2b24d;
$color-contact-title: #000000;
$color-contact-email: #2d3748;
$color-nav-link: #000000;
$color-active-link: #B2A35F;
$color-divider: #ffffffcf;
$color-cookies: #2d3748;

$color-logo-header: #b4387a;
$text-color-header: #1d1929;

$color-text-primary: #1c1c1c;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-disabled: #a8a8a8;

$color-accent: #eb801d;
$color-placeholder: #9092b0;
$color-secondary-button: #686df1;
$color-secondary-hover: #0056b3;



// @components/AboutCard
$color-AboutCard-background: #eaecee;
$color-AboutCard-background-even: #7f92acb2;
$color-AboutCard-box-shadow: #00000033;
$color-AboutCard-text: #000;

// @components/CardApplicationForm
$color-CardApplicationForm-background: #fff;
$color-CardApplicationForm-box-shadow: rgba(0, 0, 0, 0.1);
$color-CardApplicationForm-header-title: #000;
$color-CardApplicationForm-step-info: #000;
$color-CardApplicationForm-section-slider-border: #5b35d5;
$color-CardApplicationForm-slider-title: #000;
$color-CardApplicationForm-amount-value: #000;
$color-CardApplicationForm-slider-thumb: #5b35d5;
$color-CardApplicationForm-slider-track: #5b35d5;
$color-CardApplicationForm-slider-min: #786d6d;
$color-CardApplicationForm-slider-max: #786d6d;
$color-CardApplicationForm-error: #ff5631;
$color-CardApplicationForm-divider-border: #80808066;
$color-CardApplicationForm-amount-title: #000;
$color-CardApplicationForm-amount-selected: #000;
$color-CardApplicationForm-amount-selected-border: #80808033;
$color-CardApplicationForm-form-title: #000;
$color-CardApplicationForm-label: #1a202c;
$color-CardApplicationForm-input-border: #80808033;
$color-CardApplicationForm-input-border-focus: #5b35d5;
$color-CardApplicationForm-input-border-error: #ff5631;
$color-CardApplicationForm-continue-button: #fff;
$color-CardApplicationForm-continue-button-background: #003cff;
$color-CardApplicationForm-continue-button-background-hover: #7796c0;

