@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$font-rubik: 'Rubik', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$font-nunito: 'Nunito Sans', sans-serif;

$color-secondary: #1c1c1e;
$color-primary-button: #003cff;
$color-secondary-hover: #0056b3;
$text-color-light: #fff;

$color-background-gradient-start: #f4f4f42c;
$color-background-gradient-end: #b2b2b270;
$color-secondary-gradient-end: #b2b2b200;
$color-shadow-main: #bbbbbb33;
$color-shadow-secondary: #00000014;
$color-title: #1c1c1e;
$color-title-hover: #000000;
$color-text: #4f5665;
$color-background: #ffffff;
$color-border: #e0e0e0;

$color-features-title: #0b132a;

$color-background-footer: #b2b2b24d;
$color-contact-title: #000000;
$color-contact-email: #2d3748;
$color-nav-link: #000000;
$color-divider: #ffffffcf;
$color-cookies: #2d3748;

$color-logo-header: #b4387a;
$text-color-header: #1d1929;

$color-text-primary: #1c1c1c;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-disabled: #a8a8a8;

$color-accent: #eb801d;
$color-placeholder: #9092b0;
$color-secondary-button: #686df1;
$color-secondary-hover: #0056b3;
