@import "./variables/_fonts.scss";
@import "./variables/_colors.scss";

@import "./components/_Header.scss";
@import "./components/_Card.scss";
@import "./components/_Features.scss";
@import "./components/_ExchangeRates.scss";
@import "./components/_Home.scss";
@import "./components/_GlobalServices.scss";
@import "./components/_NewsSection.scss";
@import "./components/_NewsSlider.scss";
@import "./components/_SubscriptionSection.scss";
@import "./components/_Footer.scss";

body {
  margin: 0;
  font-family: $font-ubuntu;
  background-color: $background-color-body;
}