@import '@styles/variables';

.rates-and-conditions {
  &__table {
    width: 100%;
    border-collapse: collapse;

    tr:last-child td {
      border-bottom: none;
    }
  }

  &__table td {
    font-size: 16px;
    font-weight: 500;
    color: $color-RatesAndConditions-table-td;
    padding: 25px 0;
    text-align: left;
    border-bottom: 1px solid $color-RatesAndConditions-table-td-border;

    &:first-child {
      color: $color-RatesAndConditions-table-td-first-child;
      padding-right: 10px;
    }
  }
}
