$color-text-primary: #1c1c1c;
$color-background: #ffffff;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-secondary: #1c1c1e;
$color-primary-button: #003cff;
$text-color-light: #fff;
$color-disabled: #a8a8a8;
$color-secondary-hover: #0056b3;
