@import '@styles/variables';

.credit-card-section {
  margin-bottom: 45px;

  &__nav {
    border-bottom: 2px solid #80808033;
    margin-bottom: 30px;
  }

  &__nav-item {
    font-size: 16px;
    font-weight: 500;
    color: #7b7454;

    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: none;
    transition:
      color 0.3s,
      border-bottom 0.3s;

    &--active {
      border-bottom: 2px solid #7b7454;
    }

    &:hover {
      color: #000;
    }
  }
}
