@import '@styles/variables';

.aboutCard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: $color-AboutCard-text;

  &__item {
    flex: 1 1 calc(33.333% - 88px);
    background: $color-AboutCard-background;
    box-shadow: 0px 2px 4px 0px $color-AboutCard-box-shadow;
    border-radius: 28px;
    padding: 30px;

    strong {
      font-size: 1.875rem;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      font-weight: 500;
    }

    &:nth-child(even) {
      background: $color-AboutCard-background-even;
    }
  }

  &__icon {
    display: block;
    margin-bottom: 20px;
  }
}

@media (max-width: 920px) {
  .aboutCard {
    font-size: 0.875rem;

    &__item {
      flex-basis: calc(50% - 88px);

      strong {
        font-size: 1.65rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .aboutCard {
    font-size: 0.75rem;

    &__item {
      flex-basis: 100%;

      strong {
        font-size: 1.4rem;
      }
    }
  }
}
