@import '@styles/variables';

.header {
  width: 100%;
  padding: 10px 0;

  &__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 24px;
    font-weight: 700;
    color: $color-Header-logo;
    text-decoration: none;
  }

  &__nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-weight: 700;
  }

  &__link {
    text-decoration: none;
    color: $color-Header-link;
    margin: 0 15px;
    transition: color 0.3s ease;

    &--active {
      color: $color-Header-link-active;
    }

    &:hover {
      color: $color-Header-link-hover;
    }
  }

  &__nav-button {
    display: none;
    background-color: $color-Header-button-background;
    color: $color-Header-button;
    border: none;
    padding: 16px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
    transition: background 0.3s ease;

    &:hover {
      background-color: $color-Header-button-background-hover;
    }
  }

  &__button {
    background-color: $color-Header-button-background;
    color: $color-Header-button;
    border: none;
    padding: 16px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    transition: background 0.3s ease;

    &:hover {
      background-color: $color-Header-button-background-hover;
    }
  }

  &__burger {
    display: none;
    cursor: pointer;
  }
}

@media (max-width: 920px) {
  .header {
    font-size: 0.875rem;

    &__nav {
      display: none;
      position: absolute;
      top: 50px;
      right: 20px;
      background-color: $color-Header-nav-background;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 4px 6px $color-Header-nav-box-shadow;
      width: 100%;
      max-width: 200px;
      border-radius: 15px;
      z-index: 99;

      &--open {
        display: flex;
      }
    }

    &__link {
      margin: 10px 0;
    }

    &__nav-button {
      display: block;
    }

    &__button {
      display: none;
    }

    &__burger {
      display: flex;
    }
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 0.75rem;

    &__button {
      margin-top: 10px;
    }
  }
}
