$color-background-gradient-start: #f4f4f42c;
$color-background-gradient-end: #b2b2b270;
$color-secondary-gradient-end: #b2b2b200;
$color-shadow-main: #bbbbbb33;
$color-shadow-secondary: #00000014;
$color-title: #1c1c1e;
$color-text: #4f5665;
$color-background: #ffffff;
$color-border: #e0e0e0;
