@import "./variables";

.exchange-rates {
  margin-top: 50px;
  background: linear-gradient(
      0deg,
      $color-background-gradient-start,
      $color-background-gradient-start
    ),
    linear-gradient(
      358.2deg,
      $color-background-gradient-end 8.06%,
      $color-secondary-gradient-end 67.93%
    );
  padding: 20px;
  border-radius: 28px;
  box-shadow:
    0px 2px 4px 0px $color-shadow-main,
    0px 0px 4px 0px $color-shadow-secondary;

  &__blockUp,
  &__blockDown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__title,
  &__last-checked,
  &__currency,
  &__list,
  &__image {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 500;
    color: $color-title;
  }

  &__last-checked {
    font-weight: 400;
    color: $color-text;
  }

  &__currency {
    font-size: 1.25rem;
    font-weight: 500;
    color: $color-text;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: center;

    &__item {
      font-weight: 400;
      color: $color-text;
      padding: 10px;
      background: $color-background;
      border: 1px solid $color-border;
      border-radius: 5px;
      text-align: center;
    }
  }

  &__image img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 920px) {
  .exchange-rates {
    font-size: 0.875rem;

    &__title {
      font-size: 1.625rem;
    }

    &__currency {
      font-size: 1.125rem;
    }

    &__blockUp,
    &__blockDown {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    &__currency {
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .exchange-rates {
    font-size: 0.75rem;

    &__title {
      font-size: 1.375rem;
    }

    &__currency {
      font-size: 1rem;
    }
  }
}
