@import '@styles/variables';

.document-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 16px;

  &__modal {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    min-width: 30%;
  }

  &__title {
    font-weight: 700;
    color: #1c1c1e;
    margin-top: 0;
  }

  &__paragraph {
    font-weight: 500;
    color: #1a202c;
    margin-bottom: 35px;
  }

  &__button-close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__buttons-container {
    text-align: right;
  }

  &__button-home,
  &__button-deny,
  &__button-cancel {
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 11px 28px;
    transition: background 0.3s ease;
    margin-bottom: 10px;
  }

  &__button-home {
    background: #003cff;

    &:hover {
      background: $color-PrescoringForm-continue-button-background-hover;
    }
  }

  &__button-deny {
    background: #d93737cc;

    &:hover {
      background: #ff6161;
    }
  }

  &__button-cancel {
    background: #003cff;
    margin-left: 40px;

    &:hover {
      background: $color-PrescoringForm-continue-button-background-hover;
    }
  }
}

@media (max-width: 920px) {
  .document-modal {
    font-size: 0.875rem;

    &__modal {
      min-width: 50%;
    }
  }
}

@media (max-width: 500px) {
  .document-modal {
    font-size: 0.75rem;

    &__modal {
      min-width: none;
    }
  }
}
