@import '@styles/variables';

.prescoring-form-approved {
  text-align: center;
  border-radius: 10px;
  border: 1px solid $color-PrescoringFormApproved-border;
  padding: 24px;

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: $color-PrescoringFormApproved-title;
    margin-top: 0;
  }

  &__paragraph {
    font-size: 16px;
    font-weight: 500;
    color: $color-PrescoringFormApproved-paragraph;
  }
}
